body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*common*/

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
    }

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
}
}
@media screen and (min-width: 1158px) {
    .container {
       max-width: 1158px;
       padding: 0 15px;
    }
}

/*header*/

.body-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-link-list,
.address {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.full-logo {
    padding: 16px 0;
    display: block;
}
.full-logo .logo-studio {
    color: #2e2f42;
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2F2F37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
    .header-link-list {
        display: flex;
        gap: 40px;
    }
    .address {
        font-style: normal;
        display: block;
    }
    .nav-header {
        display: flex;
        align-items: center;
        }
    .full-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
    .header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
    
        padding: 24px 0;
        display: block;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .header-link.current {
        position: relative;
     }
    .header-link.current::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;
    }
    .header-link:hover,
    .header-link:focus,
    .header-link.current {
        color: #404bbf;
    }
    .address-link-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .address-link {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #434455;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .address-link:hover,
        .address-link:focus {
            color: #404bbf;
 }
}

@media screen and (min-width: 1158px) {
    .full-logo {
        margin-right: 76px;
    }
    .address-link-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .address-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
 }
}
/*mobile menu*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}
.mobile-nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;}

.mobile-nav-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.mobile-nav-item.first {
    color: #404bbf;
}

.mob-address-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
    gap: 24px;
}
 .mob-address-item {
    color: #434455;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
    
.mob-address-item:hover,
.mob-address-item:focus {
     color: #404bbf;}

.mob-social-icons {
    display: flex;
    gap: 40px;
}

.mob-social-item {
    width: 40px;
    height: 40px;
}
.so-icon {
    fill: #f4f4fd;
}

.mob-icons-link {
width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-icons-link:hover,
.mob-icons-link:focus {
    background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.close-btn {
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-btn:hover .close-x,
.close-btn:focus .close-x {
    fill: #ffffff;
}

.close-x {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*section 1*/
.section-one {
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/Office-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
    padding: 72px;
}

@media screen and (min-resolution: 2x) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/Office-mob-2x.jpg");
    }
}

.heading-one {
    font-size: 36px;
    line-height: 1.11;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 700;
    display: flex;
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;}

.service-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        

    display: block;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-button:hover,
.service-button:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .section-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Office-tab-1x.jpg);
    max-width: 768px;}

    .heading-one {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
}}

@media screen and (min-width: 768px) and (min-resolution: 2x) {
.section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Office-tab-2x.jpg);
}}

@media screen and (min-width: 1158px) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Office-desktop-1x.jpg);
        max-width: 1440px;
    }

    .heading-one {
        margin-bottom: 48px;
    }
}
@media (min-width: 1158px) and (min-resolution: 2x) {
.section-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/Office-desktop-2x.jpg);
}}

/*section 2*/
@media screen and (max-width: 1557px) {
.st-icons {
    display: none;}
}

.section-two {
    padding: 96px 0;}
    
.section-two-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

@media screen and (min-width: 768px) {
.section-two-list {
    flex-direction: row;
}
.strategy-list {
    width: calc((100% - 72px) / 2)
}
.heading-three {
    text-align: left;
}
}

.heading-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
@media screen and (min-width: 768px) {
    .section-two-list {
        flex-direction: row;
    }

    .strategy-list {
        width: calc((100% - 72px) / 2)
    }

    .heading-three {
        text-align: left;
    }
}
@media (min-width: 1158px) {
    .section-two {
            padding: 120px 0;}
    .st-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 112px;
            background-color: #f4f4fd;
            border-radius: 4px;
            border: 1px solid #8e8f99;
            margin-bottom: 8px;
        }
    .heading-three {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
                }
        .strategy-list {
            width: calc((100% - 72px) / 4)
        }
        .section-two-list {
            gap: 24px;
        }
}
/*section 3*/
.section-three {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.heading-two {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-header {
    margin-bottom: 72px;
}

.section-three-list {
    display: flex;
    flex-wrap: wrap;
    padding: 72px 12px 96px 12px;
    gap: 72px }

.hero-list {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.third-sec-heading-text {
    padding: 32px 0;

}

.name-heading-three {
    text-align: center;
    margin-bottom: 8px;
}

.position {
    text-align: center;
    margin-bottom: 8px;

}

.social-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-icons-item {
    width: 40px;
    height: 40px;
}

.social-icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
    background-color: #404bbf;
}

.so-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .section-three {
        padding: 0 108px;
    }
    .hero-list {
            width: calc((100% - 24px) / 2);
        }
    
        .section-three-list {
            gap: 24px;
        }
}
@media (min-width: 1158px) {
    .section-three {
        padding: 120px 0;
}
   .hero-list {
    width: calc((100% - 72px) / 4);
  }

}

/*section 4*/
.section-four {
    padding: 96px 0;
}
.section-four-portfolio {
    margin-bottom: 72px; }

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 48px;
}

@media screen and (max-width: 1157px) {
    .hidden-par {
        display: none;
    }

    .portfolio-list-services {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}
}
@media screen and (min-width: 768px) {
    .portfolio-list {
        row-gap: 72px;
        column-gap: 24px;
}
    .portfolio-list-services {
        width: calc((100% - 24px) / 2);
}
}

@media (min-width: 1158px) {
    .portfolio-list-services {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
}
.portfolio-list-services:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);}

.portfolio-list {
       
        row-gap: 48px;}

.sec-four-image-par {
        position: relative;
        overflow: hidden;
        
                }
        
.portfolio-list-services:hover .hidden-par {
        transform: translateY(0%);
                }
        
.hidden-par {
        position: absolute;
        top: 0;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;         
    }        
}
.section-four-heading-text {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

/*footer*/
.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}
.container-footer {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.logo-studio-footer {
    color: #f4f4fd;
}

.footer-logo {
    display: inline-block;
    padding-bottom: 16px;
    text-align: center;

    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        
        
        color: #4d5ae5;
    }

    
.footer-so-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    margin-bottom: 16px;
}
.social-icons-footer {
    display: flex;
    gap: 16px;
}
.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 288px;
}

.footer-icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
    background-color: #31d0aa;
}

.address-link-list {
    display: flex;
    gap: 40px;
}

.subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.sub-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

.sub-input-area {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}
.sub-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;

}

.icon-plane {
    margin-left: 16px;
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .container-footer {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        align-items: baseline;
        margin-left: 108px;
        text-align: left;
    }

    .sub-input-area {
        width: 264px;
    }
    .footer-text {
        max-width: 264px;}

    .subscribe-footer {
        flex-direction: row;
        

    }
}
@media (min-width: 1158px) {
.footer {   
    padding: 100px 0; }
  
}






